<div class="wrapper" [ngClass]="{ 'wrapper--show': showDropdown }">
  <ul class="nav-list">
    <div
      routerLink="volleyball"
      routerLinkActive="nav-list__item--active"
      class="nav-list__item"
    >
      <i class="fas fa-football-ball"></i>
      <li class="nav-list__item__link"><a>AM.FOOTBALL</a></li>
      <span class="nav-list__item__quantity">0</span>
    </div>
    <div
      routerLink="darts"
      routerLinkActive="nav-list__item--active"
      class="nav-list__item"
    >
      <i class="fas fa-feather-alt"></i>
      <li class="nav-list__item__link"><a>DARTS</a></li>
      <span class="nav-list__item__quantity">0</span>
    </div>
    <div
      routerLink="netball"
      routerLinkActive="nav-list__item--active"
      class="nav-list__item"
    >
      <i class="fas fa-basketball-hoop"></i>
      <li class="nav-list__item__link"><a>NETBALL</a></li>
      <span class="nav-list__item__quantity">0</span>
    </div>
    <div
      routerLink="esSports"
      routerLinkActive="nav-list__item--active"
      class="nav-list__item"
    >
      <i class="fas fa-gamepad"></i>
      <li class="nav-list__item__link"><a>ESPORTS</a></li>
      <span class="nav-list__item__quantity">0</span>
    </div>
    <div
      routerLink="golf"
      routerLinkActive="nav-list__item--active"
      class="nav-list__item"
    >
      <i class="fas fa-golf-club"></i>
      <li class="nav-list__item__link"><a>GOLF</a></li>
      <span class="nav-list__item__quantity">0</span>
    </div>
    <div
      routerLink="boxing"
      routerLinkActive="nav-list__item--active"
      class="nav-list__item"
    >
      <i class="fas fa-boxing-glove"></i>
      <li class="nav-list__item__link"><a>BOXING</a></li>
      <span class="nav-list__item__quantity">0</span>
    </div>
    <div
      routerLink="cricket"
      routerLinkActive="nav-list__item--active"
      class="nav-list__item"
    >
      <i class="fas fa-cricket"></i>
      <li class="nav-list__item__link"><a>CRICKET</a></li>
      <span class="nav-list__item__quantity">0</span>
    </div>
    <div
      routerLink="cycling"
      routerLinkActive="nav-list__item--active"
      class="nav-list__item"
    >
      <i class="fas fa-biking"></i>
      <li class="nav-list__item__link"><a>CYCLING</a></li>
      <span class="nav-list__item__quantity">0</span>
    </div>
    <div
      routerLink="winter-sports"
      routerLinkActive="nav-list__item--active"
      class="nav-list__item"
    >
      <i class="far fa-snowflake"></i>
      <li class="nav-list__item__link"><a>WINTER</a></li>
      <span class="nav-list__item__quantity">0</span>
    </div>
  </ul>
</div>
