<app-overlay
  [show]="showLogin"
  (onOverlayClick)="hideLoginOverlay()"
></app-overlay>
<div class="wrapper" [ngClass]="{ 'wrapper--show': showLogin }">
  <form [formGroup]="inputs" (ngSubmit)="onSubmit()" class="login">
    <h3 class="login__title">{{ type }}</h3>
    <span
      class="login__error-message"
      [ngClass]="{ 'login__error-message--show': errorMessage }"
      >{{ errorMessage }}'</span
    >
    <div class="login__inputs">
      <input
        *ngIf="type !== 'Login'"
        type="text"
        formControlName="username"
        placeholder="Username"
        class="login__inputs__input"
      />
      <input
        type="email"
        formControlName="email"
        placeholder="Email"
        class="login__inputs__input"
      />
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="login__inputs__input"
      />
    </div>
    <button
      [disabled]="!inputs.valid"
      type="submit"
      class="login__submit"
      [ngClass]="{ 'login__submit--disabled': !inputs.valid }"
    >
      {{ type }}
    </button>

    <div class="login__alternative">
      <label class="login__alternative__sign"
        >or
        <span
          (click)="changeAuthenticationMethod()"
          class="login__alternative--sign-up"
          >{{ oppositeType }}</span
        ></label
      >
      <label *ngIf="type === 'Login'" class="login__alternative--forgot"
        >Forgot Your Password ?</label
      >
    </div>
    <div class="login__social">
      <div class="login__social__fb">
        <i class="fab fa-facebook-square fa-lg"></i>
        <label class="login__social__title">FACEBOOK</label>
      </div>
      <div class="login__social__google">
        <i class="fab fa-google fa-lg"></i
        ><label class="login__social__title">GOOGLE</label>
      </div>
    </div>
  </form>
</div>
