<div class="user-wrapper mob-hide" *ngIf="user">
  <div (click)="toggleDropdown()" class="user dropdown mob-hide">
    <i class="fas fa-user-check user__icon"></i>
    <span class="user__username">{{ user?.username }}</span>
    <i class="fas fa-caret-down dropdown-arrow" rotate></i>
  </div>
  <ul
    [ngClass]="{ 'user__dropdown--toggle': showDropDown }"
    class="user__dropdown"
    (click)="onLogout()"
  >
    <i class="fas fa-sign-out-alt"></i>
    <li class="user__dropdown__logout">Log Out</li>
  </ul>
</div>
