<div class="menu">
  <img src="./assets/Logo.svg" alt="logo" class="menu__logo" />

  <div class="menu__section">
    <app-languages></app-languages>

    <div class="mob-hide">
      <app-theme
        (themeChanged)="themeChanged()"
        [darkTheme]="darkTheme"
      ></app-theme>
    </div>
    <app-search></app-search>

    <div class="menu__section__settings">
      <i (click)="onSettingsClick()" class="fas fa-cog fa-lg"></i>
      <app-settings [showSettingsOverlay]="showSettingOverlay"></app-settings>
    </div>
    <app-user [user]="user"></app-user>
    <div class="authentication">
      <div class="mob-hide" *ngIf="!user">
        <span (click)="loginClicked()" class="menu__section__login">LOGIN</span>

        <span
          class="menu__section__registration"
          (click)="registrationClicked()"
          >REGISTRATION</span
        >
      </div>
      <i
        *ngIf="user; else authFalse"
        class="fas fa-user-check user__icon desktop-hide fa-lg"
      ></i>
      <ng-template #authFalse>
        <i class="fas fa-user-alt login user__icon desktop-hide fa-lg"></i>
      </ng-template>
    </div>
    <app-burger-menu (onMenuClick)="menuClicked()"> </app-burger-menu>
    <app-mob-menu [showMobMenu]="showMobileMenu"></app-mob-menu>
    <app-form-template
      (changeLoginMethod)="changeAuthenticationMethod($event)"
      [type]="type"
      [oppositeType]="oppositeType"
      [showLogin]="showFormModal"
      (hideModal)="hideRegistrationModal()"
    ></app-form-template>
  </div>
</div>
