.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  .fas {
    opacity: 0.9;
  }
  &__logo {
    max-width: 200px;
    @media (max-width: 925px) {
      max-width: 100px;
      margin-left: 10px;
    }
  }
  &__section {
    display: flex;
    width: 100%;
    max-width: 600px;
    @media (max-width: 745px) {
      max-width: 120px;
    }

    justify-content: space-between;
    height: 100%;
    display: flex;
    align-items: center;
    .fas {
      cursor: pointer;
    }
    &__settings {
      @media (max-width: 745px) {
        display: none;
      }
    }
    &__login {
      cursor: pointer;
      @media (max-width: 745px) {
        display: none;
      }
    }
    &__registration {
      cursor: pointer;
      @media (max-width: 745px) {
        display: none;
      }
    }
  }
}
