<div class="menu">
  <img src="./assets/Logo.svg" alt="logo" class="menu__logo" />

  <div class="menu__section">
    <app-languages></app-languages>

    <div class="mob-hide">
      <app-theme
        (themeChanged)="themeChanged()"
        [darkTheme]="darkTheme"
      ></app-theme>
    </div>
    <app-search></app-search>

    <div class="menu__section__settings">
      <i (click)="onSettingsClick()" class="fas fa-cog fa-lg"></i>
      <app-settings [showSettingsOverlay]="showSettingOverlay"></app-settings>
    </div>
    <div class="authentication" *ngIf="!user">
      <app-user></app-user>
      <span (click)="loginClicked()" class="menu__section__login">LOGIN</span>

      <span class="menu__section__registration" (click)="registrationClicked()"
        >REGISTRATION</span
      >
    </div>
    <app-burger-menu (onMenuClick)="menuClicked()"> </app-burger-menu>
    <app-mob-menu [showMobMenu]="showMobileMenu"></app-mob-menu>
    <app-form-template
      [type]="type"
      [oppositeType]="oppositeType"
      [showLogin]="showFormModal"
      (hideModal)="hideRegistrationModal()"
    ></app-form-template>
  </div>
</div>
