.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  .fas {
    opacity: 0.9;
  }
  &__logo {
    max-width: 200px;
  }
  &__section {
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
    height: 100%;
    display: flex;
    align-items: center;
    .fas {
      cursor: pointer;
    }
    &__login {
      cursor: pointer;
    }
    &__registration {
      cursor: pointer;
    }
    &__theme {
      background-color: gray;
      border-radius: 10px;
      position: relative;

      cursor: pointer;
      .fas {
        transition: color 0.3s ease-in-out;
      }
      &--active {
        border-radius: 10px;
      }
      &__background {
        position: absolute;
        display: flex;
        top: 0;
        background-color: #000;
        width: 10px;
        height: 100%;
        width: 32px;
        border-radius: 10px;
        transition: all 0.4s ease-in-out;
        &--active {
          transform: translateX(32px);
          .fas {
            background-color: red;
          }
        }
      }
      .fas {
        position: relative;
        padding: 5px;
        z-index: 10;
        color: rgb(224, 166, 5);
      }
    }
  }
}
