/* You can add global styles to this file, and also import other style files */
:root {
  --darker-color: #2f2f2f;
  --light-color: #d6e0d5;
  --sun-color: #8f6c0b;
  --moon-color: #089aad;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.mob-hide {
  @media (max-width: 745px) {
    display: none;
  }
}
@mixin flexPos {
  justify-content: center;
  align-items: center;
}
$darker-color: #2f2f2f;
$light-color: #d6e0d5;
$sun-color: #8f6c0b;
$moon-color: #089aad;

.rotate {
  transform: rotate(180deg);
}
.dropdown-arrow {
  transition: transform 0.5s ease-in-out;
  margin-left: 5px;
}
