<nav class="nav">
  <ul class="nav__list">
    <div class="nav__list__item">
      <i class="far fa-futbol"></i>
      <li class="nav__list__item__link"><a href="#">SOCCER</a></li>
      <span class="nav__list__item__quantity">0</span>
    </div>
    <div class="nav__list__item">
      <i class="fas fa-baseball-ball"></i>
      <li class="nav__list__item__link"><a href="#">TENNIS</a></li>
      <span class="nav__list__item__quantity">0</span>
    </div>
    <div class="nav__list__item">
      <i class="fas fa-basketball-ball"></i>
      <li class="nav__list__item__link"><a href="#">BASKETBALL</a></li>
      <span class="nav__list__item__quantity">0</span>
    </div>
    <div class="nav__list__item">
      <i class="fas fa-hockey-puck"></i>
      <li class="nav__list__item__link"><a href="#">HOCKEY</a></li>
      <span class="nav__list__item__quantity">0</span>
    </div>
    <div class="nav__list__item">
      <i class="fas fa-futbol"></i>
      <li class="nav__list__item__link"><a href="#">HANDBALL</a></li>
      <span class="nav__list__item__quantity">0</span>
    </div>
    <div class="nav__list__item">
      <i class="fas fa-volleyball-ball"></i>
      <li class="nav__list__item__link"><a href="#">VOLLEYBALL</a></li>
      <span class="nav__list__item__quantity">0</span>
    </div>
  </ul>
</nav>
